<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Employee</title>
</head>
<body>

<form action="/employee/add" method="post" enctype="multipart/form-data">
    <input type="text" name="name" id="name" placeholder="NAMA">
    <input type="text" name="surname" id="surname" placeholder="SURNAMA">
    <input type="email" name="email" id="email" placeholder="EMAIL">
    <input type="text" name="phoneNumber" id="phoneNumber" placeholder="PHONE NUMBER">
    <input type="text" name="salary" id="salary" placeholder="SALARY">
    <input type="text" name="position" id="position" placeholder="POSITION">
    <select name="company.id">
        <option th:each="company:${company}"
                th:text="${company.name}"
                th:value="${company.id}"></option>
    </select>
    <input type="file" name="employeeImage" id="employeeImage" accept="image/*">
    <input type="submit" value="ADD">
    <span style="color: red" th:if="${errorMessageimage != null}" th:text="${errorMessageimage}"></span>

</form>

</body>
</html>